# ==============================
# JWT 시크릿 키, JWT 서명용
# ==============================
JWT_SECRET_KEY=change

# ==============================
# Database (mySQL) DB 만들어져 있어야함
# ==============================
SQLALCHEMY_DATABASE_URI=mysql+pymysql://사용자명:비밀번호@localhost:3306/cheonaon

# ==============================
# TourAPI 접근키
# ==============================

TOURAPI_KEY=change