# ==============================
# KAKAO 클라이언트 ID, 시크릿 키, 리다이렉트 URL 적용
# ==============================
KAKAO_CLIENT_ID=YOUR_KAKAO_REST_API_KEY
KAKAO_CLIENT_SECRET=NEED_TO_SET
KAKAO_REDIRECT_URI=NEED_TO_SET

# ==============================
# JWT 시크릿 키, JWT 서명용
# ==============================
JWT_SECRET_KEY=NEED_TO_SET

# ==============================
# Database (mySQL) DB 만들어져 있어야함
# ==============================
SQLALCHEMY_DATABASE_URI=mysql+pymysql://사용자명:비밀번호@localhost:3306/cheonaon

# ==============================
# TourAPI 접근키
# ==============================

TOURAPI_KEY=change